table {
    table-layout: fixed;
    /* força colunas com largura fixa */
    /* width: 100%; ou qualquer largura total desejada */
    padding: 20px;
}

td {

    /* border-radius: 4px; */
    border-collapse: separate;
    border-spacing: 010px;
    text-align: center;
    border: solid rgb(235, 235, 235) 1px;
    cursor: pointer;
}

td:active {
    /* background: #eeecec; */
    box-shadow: 1px 0 1px 2px #efefef ;
    padding-top: 10px ;
    /* display: none; */
}



.td-apagado {
    background: rgb(241, 241, 241);
}

.td-marcado {
    background: #343333;
    /* background: #c30d0d; bloqueado */
    /* background: #e67c04; horario */
    color: white;
}