@import "tailwindcss";


html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #171717; 
  color: #d4d4d4;
}
.containerRes{
  width: 90vw;
  max-width: 500px;
}
.allCenterHorizon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.allCenterVertical{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Esconde a scrollbar em todos os navegadores */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* src/index.css ou global.css */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* muda o fundo */
  -webkit-text-fill-color: #111; /* cor do texto */
  transition: background-color 5000s ease-in-out 0s; /* remove o amarelo padrão */
}

input:-webkit-autofill:focus {
  border-color: #3b82f6; /* muda a borda quando foca */
}
