@import "tailwindcss";

/* Esconde a scrollbar em todos os navegadores */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
