  body {
      background-color: #f9f9f9;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.05);
      padding: 24px;
    }

    h1 {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-weight: 600;
      margin-bottom: 6px;
      color: #333;
    }

    select, input {
      width: 100%;
      padding: 10px 12px;
      font-size: 15px;
      border: 1px solid #ddd;
      border-radius: 10px;
      outline: none;
      margin-bottom: 16px;
      transition: border 0.2s;
    }

    select:focus, input:focus {
      border-color: #444;
    }

    .upload {
      border: 2px dashed #bbb;
      border-radius: 12px;
      text-align: center;
      padding: 20px;
      margin-bottom: 16px;
      cursor: pointer;
      transition: 0.3s;
    }

    .upload:hover {
      border-color: #888;
    }

    .upload img {
      z-index: -3;
      width: 40px;
      opacity: 0.6;
    }

    .upload span {
      display: block;
      margin-top: 8px;
      font-size: 14px;
      color: #555;
    }

    button {
      width: 100%;
      background-color: rgb(247, 124, 0);
      color: #fff;
      padding: 12px;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
      font-weight: 600;
    }

    button:hover {
      background-color: #111;
    }
    button:active {
      background-color: #111;
    }

    #preview {
      width: 100%;
      margin-top: 10px;
      border-radius: 10px;
      display: none;
    }