.menu-inativo {
    transition: all 0.8s ease;
    /* transform: translate(-100%); */
    opacity: 0;
}

.menu-ativo {
    transition: all 0.8s ease;
    transform: translate(0);
    opacity: 1;
}

.menu-container{
    /* display: none; */
    /* nenhum component fica acima dele */
    z-index:100; 
}